.headerr {
  background-color: #58dd98;
  text-align: left;
  padding: 8px;
  padding-left: 20px;
  margin-left: 240px;
  margin-right: 240px;
  border-radius: 10px;
  font-size: xx-large;
}
.crscontainer {
  background-color: #f2f5fa;
  font-family: "Open Sans", sans-serif;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  align-items: left;
  justify-content: left;
  border-radius: 10px;
}

.crscontainer:hover {
  box-shadow: 2px 2px 15px #14a44d;
}

.crsimg {
  margin: 5px 0px;
}

.imagee {
  float: left;
  height: 150px;
  width: 150px;
  object-fit: contain;
  border-radius: 8px;
  margin: 5px 0px;
}

.crscontainer .imagee {
  box-shadow: 0.5px 1px 1px;
}

.crsdetailscontainer {
  width: 100%;
  margin: 5px;
  align-items: left;
  align-content: left;
  text-align: left;
}
.crstitlecontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: top;
}

.crstitle {
  font-size: 25px;
  color: black;
  margin-bottom: 8px;
  margin-top: 3px;
  padding-left: 20px;
  padding-top: 20px;
}

.crsprice {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-right: 5px;
}

.crsdetails {
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  max-height: min-content;
  letter-spacing: -0.02em;
  color: rgb(107, 119, 209);
  max-width: 900px;
}

.crsauthor {
  font-size: smaller;
  margin-left: 20px;
  margin-top: 0.5px;
  color: rgb(151, 141, 141);
  bottom: 10%;
}
.code {
  padding-left: 20px;
}
.back {
  margin-left: 240px;
  margin-top: 50px;
}
