.coursecontainer {
    background-color: #f2f5fa;
    font-family: "Open Sans", sans-serif;
    margin: 5px auto;
    padding: 5px;
    width: 50%;
    display: flex;
    align-items: left;
    justify-content: left;
    border-radius: 13px;
  }
  
  .coursecontainer:hover {
    box-shadow: 2px 2px 15px;
  }
  
  .courseimagecontainer {
    margin: 5px 0px;
  }
  
  .courseimage {
    float: left;
    width: 150px;
    height: 110px;
    object-fit: cover;
    border-radius: 8px;
    margin: 5px 0px;
  }
  
  .coursecontainer .courseimage {
    box-shadow: 0.5px 1px 1px;
    
  }
  
  .coursedetailscontainer {
    width: 100%;
    margin: 5px;
    align-items: left;
    align-content: left;
    text-align: left;
  }
  .coursetitlecontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: top;
  }
  
  .coursetitle {
    font-size: 20px;
    color: #5867dd;
    margin-bottom: 8px;
    margin-top: 3px;
    min-height: 120px;
  }
  
  .courseprice {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-right: 5px;
  }
  
  .coursedetails {
    font-weight: bold;
    font-size: 14px;
    line-height: 15px;
    max-height: min-content;
    letter-spacing: -0.02em;
    color: rgb(107, 119, 209);
    max-width: 900px;
  }
  
  .courseauthor {
    font-size: smaller;
    margin-top: 0.5px;
    color: rgb(151, 141, 141);
    bottom: 10%;
  }
  .code
  {
    text-align:center;
  }