.list {
  display: flex;
  width: auto;
  background-color: #f2f5fa;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  /* margin-bottom: 40px; */
  padding: 20px;
  /* height: 150px; */
}

.listheader {
  margin-left: 5%;
  text-align: left;
  font-size: larger;
  width: 50%;
}
.photo {
  margin-top: 15px;
  width: 50%;
}
.copy {
  display: inherit;
}
.dash {
  padding: 10px;
  text-align: center;
}
